<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur5e_mock_ros2_control">

    <ros2_control name="UR5eMockSystem" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="calculate_dynamics">false</param>
      </hardware>

      <joint name="shoulder_pan_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="shoulder_lift_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">-1.57</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="elbow_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">1.57</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wrist_1_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">-1.57</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wrist_2_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">-1.57</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="wrist_3_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>
</robot>
